# Ignore the data directory completely
data/
results/
__pycache__/
# Ignore specific data file formats just in case they are left in the main folder
*.csv
*.mat
*.bin
*.parquet
*.h5
*.xlsx

# Ignore Python environemnt and cache folders (just in case) 
.pytest_cache/
pytest_cache
__pycache__/
.venv/
.env
.ipynb_checkpoints/
.pyc